
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Document</title>
  </head>
  <body style="size: 7in 9.25in; margin: 10mm 16mm 10mm 16mm">
    <img
      src="https://trade.treasurybyte.com/static/images/logo/small-logo.png"
      alt="Header Image"
      style="width: 100%; max-width: 250px; margin: 20px 0"
    />

    <table
      style="
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        border: 1.5px solid #000;
        margin-bottom: 40px;
      "
    >
      <!-- Table Header -->
      <tr>
        <th
          colspan="2"
          style="padding: 10px; border: 1.5px solid #000; font-size: 12px"
        >
          Tax Invoice
        </th>
      </tr>

      <!-- Table Body -->
      <tr>
        <td
          width="20%"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          GSTIN
        </td>
        <td style="padding: 3px; border: 1.5px solid #000; font-size: 12px">
          6AAFCF0778E1ZO
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 3px;
            border: 1.5px solid #000;
            font-weight: bold;
            font-size: 12px;
          "
        >
          Name
        </td>
        <td
          style="
            padding: 3px;
            border: 1.5px solid #000;
            font-weight: bold;
            font-size: 12px;
          "
        >
          FinByte Consulting Private Limited
        </td>
      </tr>
      <tr>
        <td style="padding: 3px; border: 1.5px solid #000; font-size: 12px">
          Address
        </td>
        <td
          colspan="2"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          WeWork, Rajapushpa Summit, Financial District, Hyderabad - 500032
        </td>
      </tr>
      <tr>
        <td style="padding: 3px; border: 1.5px solid #000; font-size: 12px">
          State
        </td>
        <td
          colspan="2"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          Telangana
        </td>
      </tr>
      <tr>
        <td style="padding: 3px; border: 1.5px solid #000; font-size: 12px">
          Invoice No.
        </td>
        <td
          colspan="2"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          2024-25/1M/22
        </td>
      </tr>
      <tr>
        <td style="padding: 3px; border: 1.5px solid #000; font-size: 12px">
          Invoice Date
        </td>
        <td
          colspan="2"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          14 Oct 2024
        </td>
      </tr>
      <tr>
        <th
          colspan="2"
          style="padding: 10px; border: 1.5px solid #000; font-size: 12px"
        >
          This Invoice is billed to
        </th>
      </tr>
      <tr>
        <td
          style="
            padding: 3px;
            border: 1.5px solid #000;
            font-weight: bold;
            font-size: 12px;
          "
        >
          Name
        </td>
        <td
          style="
            padding: 3px;
            border: 1.5px solid #000;
            font-weight: bold;
            font-size: 12px;
          "
        >
          AGI GREENPAC LIMITED
        </td>
      </tr>
      <tr>
        <td style="padding: 3px; border: 1.5px solid #000; font-size: 12px">
          Address
        </td>
        <td
          colspan="2"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          SURVEY NO.218 PART, SEETHARAMPUR, ISNAPUR, PATANCHERU MANDAL, Medak,
          Telangana,
        </td>
      </tr>
      <tr>
        <td style="padding: 3px; border: 1.5px solid #000; font-size: 12px">
          State
        </td>
        <td
          colspan="2"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          Telangana
        </td>
      </tr>
      <tr>
        <td style="padding: 3px; border: 1.5px solid #000; font-size: 12px">
          State Code
        </td>
        <td
          colspan="2"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          36
        </td>
      </tr>
      <tr>
        <td
          width="25%"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          GSTIN
        </td>
        <td style="padding: 3px; border: 1.5px solid #000; font-size: 12px">
          6AAFCF0778E1ZO
        </td>
      </tr>
    </table>

    <table
      style="
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        margin-top: 25px;
      "
    >
      <!-- Table Header -->
      <tr>
        <th
          width="40%"
          colspan="2"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          Particulars
        </th>
        <th
          width="15%"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          Taxable Value
        </th>
        <th
          width="15%"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          CGST
        </th>
        <th
          width="15%"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          SGST
        </th>
        <th
          width="15%"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          IGST
        </th>
      </tr>
      <tr>
        <th
          width="40%"
          colspan="2"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          SAC Code - 9983
        </th>
        <th
          width="15%"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        ></th>
        <th
          width="15%"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          9%
        </th>
        <th
          width="15%"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          9%
        </th>
        <th
          width="15%"
          style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
        >
          0%
        </th>
      </tr>
      <tr>
        <td
          width="40%"
          colspan="2"
          style="
            padding: 10px;
            border: 1.5px solid #000;
            font-style: italic;
            font-size: 12px;
          "
        >
          Professional Fees for LC Financing@0.05% p.a.
        </td>
        <th
          width="15%"
          style="padding: 10px; border: 1.5px solid #000; font-size: 12px"
        >
          15,105
        </th>
        <th
          width="15%"
          style="padding: 10px; border: 1.5px solid #000; font-size: 12px"
        >
          1359.45
        </th>
        <th
          width="15%"
          style="padding: 10px; border: 1.5px solid #000; font-size: 12px"
        >
          1359.45
        </th>
        <th
          width="15%"
          style="padding: 10px; border: 1.5px solid #000; font-size: 12px"
        >
          0
        </th>
      </tr>
      <tr>
        <td
          width="20%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-right-width: 0px;
            border-bottom-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          Issuing Bank
        </td>
        <td
          width="20%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-left-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          CANARA
        </td>
        <td
          width="20%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-right-width: 0px;
            border-left-width: 0px;
            border-bottom-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          Financing Bank
        </td>
        <td
          width="40%"
          colspan="4"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-left-width: 0px;
            border-bottom-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          SCB GIFT
        </td>
      </tr>
      <tr>
        <td
          width="20%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-right-width: 0px;
            border-top-width: 0px;
            border-bottom-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          Issuing Bank
        </td>
        <td
          width="20%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-left-width: 0px;
            border-right-width: 0px;
            border-top-width: 0px;
            border-bottom-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          CANARA
        </td>
        <td
          width="20%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-right-width: 0px;
            border-left-width: 0px;
            border-top-width: 0px;
            border-bottom-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          Financing Bank
        </td>
        <td
          width="40%"
          colspan="4"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-left-width: 0px;
            border-top-width: 0px;
            border-bottom-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          SCB GIFT
        </td>
      </tr>
      <tr>
        <td
          width="20%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-right-width: 0px;
            border-top-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          Issuing Bank
        </td>
        <td
          width="20%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-left-width: 0px;
            border-right-width: 0px;
            border-top-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          CANARA
        </td>
        <td
          width="20%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-right-width: 0px;
            border-left-width: 0px;
            border-top-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          Financing Bank
        </td>
        <td
          width="40%"
          colspan="4"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            border-left-width: 0px;
            border-top-width: 0px;
            font-style: italic;
            font-size: 12px;
          "
        >
          SCB GIFT
        </td>
      </tr>
      <tr>
        <td
          width="25%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            font-weight: bolder;
            font-style: italic;
            font-size: 12px;
          "
        >
          Total Invoice Value
        </td>
        <td
          width="75%"
          colspan="5"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            font-weight: bolder;
            font-style: italic;
            font-size: 12px;
          "
        >
          17,824.00
        </td>
      </tr>
      <tr>
        <td
          width="25%"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            font-weight: bolder;
            font-style: italic;
            font-size: 12px;
          "
        >
          Amount in words
        </td>
        <td
          width="75%"
          colspan="5"
          style="
            padding: 3px;
            border: 1.5px solid #000;
            font-weight: bolder;
            font-style: italic;
            font-size: 12px;
          "
        >
          Seventeen Thousand Eight Hundred Twenty-Four Only
        </td>
      </tr>
    </table>

    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
      "
    >
      <!-- Left Side: Table -->
      <div style="flex: 1; max-width: 50%">
        <table
          style="width: 100%; border-collapse: collapse; border: 2px solid #000"
        >
          <tr>
            <th
              colspan="2"
              style="
                padding: 3px;
                border: 1.5px solid #000;
                text-align: left;
                border-right-width: 0px;
                font-size: 12px;
              "
            >
              Bank Account Details
            </th>
            <th
              colspan="4"
              style="
                padding: 3px;
                border: 1.5px solid #000;
                border-left-width: 0px;
                background-color: #fff;
                font-size: 12px;
              "
            ></th>
          </tr>
          <tr>
            <td
              colspan="2"
              style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
            >
              Name
            </td>
            <td
              colspan="4"
              style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
            >
              FinByte Consulting Private Limited
            </td>
          </tr>
          <tr>
            <td
              colspan="2"
              style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
            >
              Bank
            </td>
            <td
              colspan="4"
              style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
            >
              HDFC Bank Limited
            </td>
          </tr>
          <tr>
            <td
              colspan="2"
              style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
            >
              Branch
            </td>
            <td
              colspan="4"
              style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
            >
              Nallagandla-2
            </td>
          </tr>
          <tr>
            <td
              colspan="2"
              style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
            >
              Account Number
            </td>
            <td
              colspan="4"
              style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
            >
              50200069275678
            </td>
          </tr>
          <tr>
            <td
              colspan="2"
              style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
            >
              IFSC
            </td>
            <td
              colspan="4"
              style="padding: 3px; border: 1.5px solid #000; font-size: 12px"
            >
              HDFC0008148
            </td>
          </tr>
        </table>
      </div>

      <!-- Right Side: Additional Content -->
      <div
        style="
          flex: 1;
          max-width: 40%;
          align-self: center;
          margin-left: 75px;
          left: 20px;
        "
      >
        <h6 style="margin-bottom: 50px">For FinByte Consulinge Limited</h6>
        <h6>Authorised Signatory</h6>
      </div>
    </div>
  </body>
  <footer
    style="
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
    "
  >
    <div
      style="
        align-self: flex-end;
        margin-bottom: 50px;
        margin-left: 25px;
        position: fixed;
        bottom: 0px;
        left: 50px;
      "
    >
      <h5 style="margin: 0; font-weight: bolder; font-weight: bolder">
        FinByte Consuling Private Limited
      </h5>
      <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
        <tr>
          <td
            colspan="2"
            style="
              padding: 10px;
              border-right: 2px solid #000;
              padding-left: 0;
              padding-top: 0;
              padding-bottom: 0;
              font-size: 10px;
            "
          >
            CIN: U74110TG2022PTC163273
          </td>
          <td
            colspan="4"
            style="
              padding: 10px;
              padding-top: 0;
              padding-bottom: 0;
              font-size: 10px;
            "
          >
            Regd. & Corp. Office : 02-129, WeWork, Rajapushpa Summit
          </td>
        </tr>
        <tr>
          <td
            colspan="2"
            style="
              padding: 10px;
              border-right: 2px solid #000;
              padding-left: 0;
              padding-top: 0;
              padding-bottom: 0;
              font-size: 10px;
            "
          >
            Email: connect@treasurybyte.in
          </td>
          <td
            colspan="4"
            style="
              padding: 10px;
              padding-top: 0;
              padding-bottom: 0;
              font-size: 10px;
            "
          >
            Financial District, Hyderabad - 500032, Telangana
          </td>
        </tr>
      </table>
    </div>
    <img
      src="https://i.ibb.co/rcnhPzg/bottom.png"
      alt="Header Image"
      style="
        width: 50%;
        height: 200px;
        position: fixed;
        bottom: 10px;
        right: 10px;
      "
    />
  </footer>
</html>
